<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Acessrecords</h1>
    <table border="3px" width="100%" style="text-align: center;">
        <tr>
            <th>pk</th>
            <th>name</th>
            <th>author</th>
            <th>date</th>
        </tr>
        {% for i in LAO %}
            <tr>
                <td>{{i.pk}}</td>
                <td>{{i.name}}</td>
                <td>{{i.author}}</td>
                <td>{{i.date}}</td>
            </tr>
            
        {% endfor %}
    </table>
</body>
</html>