<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>data insert into acessrecords</h1>
    <form method="POST">
        {% csrf_token %}
        <label>NAME</label>
        <select name="name">
            {% for i in LTO %}
                <option value="{{i.name}}">{{i.name}}</option>
            {% endfor %}

        </select>
        <label>author</label>
        <input type="text" name="author"><br>
        <label>date</label>
        <input type="date" name="date"><br>
        <input type="submit">
        

    </form>
</body>
</html>